.footer-bottom { 
    position:fixed; 
    bottom:0; 
    width:100%; 
    height: auto;
    color: white;
    background-color: black; 
  }
//   .bg-black {
//     //   color: white !important;
//       background-color: black;
//   }
//   .bg-black .nav-item a {
//       color: white !important;
//   }
.footer-margin {
    padding-top: 10px;
    padding-bottom: 10px;
}
h3 {
    color: #daa156 !important;
}
  .text-footer {
      text-align: center;
      margin: auto;
  }
  .logo {
      max-width: 15vw;
  }
  .nav-item {
      padding-right: 15px;
  }
  .nav-item:first-child {
    padding-left: 30px;
}
  body .container-layout {
    // position: relative;
    // top: 30vh;
    // transform: translateY(-50%);
  }
  .historique {
    padding-top: 3em;
    text-align: center;
    margin: auto;
      vertical-align: middle;
  }
  .member {
      padding-top: 3em;
      padding-bottom: 5em;
      text-align: center;
  }
  .heading {
      margin: auto;
      margin-top: 2em;
    //   margin-bottom: 3%;
      text-align:center;
  }
  .sub-title {
    margin: auto;
    margin-bottom: 3em;
    text-align: center;
  }
  .coutdown {
    margin-top: 5%;
    margin-bottom: 5%;
    // border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    width: 60%;
    margin-top: 3%;
  }
  #countdown {
    color: black;
    display: flex;
    max-width: 360px;
    justify-content: center;
    margin: 0 auto;
  }

  #countdown .countdown-section {
    padding: 0 15px;
    border: 1px solid black;
    border-radius:5px;
    padding: 20px;
    background-color: #343a40;
  }
  
  #countdown .countdown-section .h1 {
    opacity: 0.75;
    display: block;
    text-align: center;
    margin: auto;
    // padding-left: 20%;
  }
  
  #countdown .countdown-section .text-center {
    color: black;
    opacity: 1.0
  }
  


.slider .slick-prev:before, .slider-vertical .slick-next:before {
	display: none;
}
.slider .slick-prev, .slider .slick-next {
    width: 28px;
    height: 28px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
		top: 0;
		bottom: 0;
    z-index: 10;
    cursor: pointer;
}
.slider .slick-prev:before, .slider .slick-next:before {
	display: none;
}
.slider .slick-prev {
    border-width: 14px 14px 14px 0px;
    border-color: transparent #ffffff;
    left: 0px;
		right: auto;
}
.slider .slick-next {
    border-width: 14px 0px 14px 14px;
    border-color: transparent #ffffff;
    right: 0px;
    left: auto;
}	
.slider .slick-prev:hover, .slider .slick-next:hover {
    border-color: transparent #ffd200;
}
.slider .slick-prev.slick-disabled, .slider .slick-next.slick-disabled, .slider .slick-prev.slick-disabled:hover, .slider .slick-next.slick-disabled:hover {
	opacity: 0.1;
	cursor: default;
    border-color: transparent #000000;
}
.slider div {
	height: auto;
	background: #333333;
	text-align: center;
	font-size: 75px;
	color: #ffffff;
}
.slider-thumb div {
	height: 100px;
	line-height: 50px;
	font-size: 25px;
}
.slider-thumb .slick-slide.slick-current {
	background: green;
}


// TABS

.tabs-container {
    margin: auto;
    min-height: 50vh;
 
}
.inline-block {
    display: inline-block;
}
.tab-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tab-settings {
    width: 50%;
}
.button-year {
    width: 100%;
    color: black;
    background: white;
    padding-top: 45px;
    border: 1px solid black;
    padding-bottom: 45px;
    border-radius: 5px;
}
.button-year:hover {
    color: white;
    background: black;
    border-radius: 5px;
}
// .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
//     color: #fff !important;
//     background-color: black !important;
// }
// .nav-item a {
//     color: black !important;
// }
// .navbar-dark .navbar-nav .nav-link {
//     color: white !important;
// }
.result-container {
    margin-top: 15vh;
    margin-bottom: 1%;
}
.nav-pills {
    padding-left: 8% !important;
}
// OVER RULE CSS
.navbar-dark .navbar-nav .nav-link {
    color: #daa156 !important;
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: #fff !important;
}
.navbar-brand {
    padding-left: 20px;
}
@media screen and (max-width: 768px) {
.logo {
    max-width: 50vw;
}
.col-sm-3 {
    display: inline-block !important;
}
.footer-bottom {
position: absolute;
}
.slick-slide img {
    margin: auto;
    width: 53%
}
.navbar-dark .navbar-brand {
    margin: auto;
}
#countdown .countdown-section {
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: #343a40;
    width: 49vw;
    display: inline-block;
    margin: auto;
}
.coutdown {
    width: 100% !important;
    margin: auto !important;
    padding: 0px !important;
}
#countdown {
    display: inline;
}
.container-index{
    margin-top: 12vh;
}
h1 {
    font-size: 2.2em !important;
}
.nav-item:first-child {
    padding-left: 0px;
}
.nav-item:first-child {
    padding-left: auto;
}
.result-container {
    margin-top: 17em;
}
.tab-settings {
    width: 90%;
}
.button-year {
    margin-bottom: 20px;
    border: 2px solid black;
    width: 49% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #343a40 !important;
    color: #daa156 !important;
}
.nav-pills {
    padding-left: 0px !important;
}
.nav-item {

    // padding-right: 35px;
    // padding-bottom: 20px;
}

.nav-item a {
    // color: black;
    // border: 1px solid black;
}
}
@media screen and (max-width: 430px) {
    .container-index{
        margin-top: 0vh;
    }
    .container-facebook {
        width: 100vw;
    }
   
    .result-container {
        margin-top: 1em;
        // height: 100vh;
    }
    .nav-item:nth-child(3) {
        // padding-right: 0px !important;

    }
    .nav-item {
        // width: 33%;
        // padding-right: 10px !important;
        // padding-bottom: 20px;
    }
    .nav-pills .nav-link.active {}
    h1 {
        font-size: 24px !important;
}

h4 {
    font-size: 18px !important;
}
.h1 {
    font-size: 1.5rem !important;
}
.footer-margin {
    margin-bottom: 0px !important;
}
#countdown .countdown-section .h1 {
    color: #daa156 !important;
}
#countdown .countdown-section .text-center {
    color: #daa156 !important;
}
#countdown .countdown-section {
    margin-bottom: 6px;
}
}
